.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: white;
    box-shadow: 0 10px 25px #a8a8a877;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 4%;
}
.navbar .logo{
    width: max(10%,80px);

}
.navbar .profile{
    width: 40px;
}
